<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400" rel="stylesheet">
  <link rel="stylesheet" href="../style/domconnect.min.css">
  <title>Connect To A Domain</title>
</head>
<body>
  <h1>Connect To A Domain</h1>
  <a href="#">How do i host a domain?</a>
  <input type="text" id="domadress" placeholder="http://127.0.0.1:3000">
  <input type="submit" id="domconnect" value="Connect">
</body>
</html>
