<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link href="https://fonts.googleapis.com/css?family=Roboto:300,400" rel="stylesheet">
  <link rel="stylesheet" href="../style/main.min.css">
  <script src="../vue.min.js" charset="utf-8"></script>
  <title>Droppl</title>
</head>
<body>
  <div id="sidebar"></div>
  <div id="torrents">
    <div class="torrent" v-for="torrent in torrents">
      <h3>Awesome.txt</h3>
      <h4>372mb</h4>
      <div><span>100%</span></div>
    </div>
    <div class="torrent addTorrent">
      <h1>+</h1>
    </div>
  </div>
  <script src="../scripts/mainApp.js" charset="utf-8"></script>
</body>
</html>
