<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="../style/main.min.css">
  <title>Droppl</title>
</head>
<body>
  <div id="header">

  </div>
  <div id="content">
    <div class="card" id="notJoinedCard" style="display: none">
      <h1>Looks like you haven't joined a domain yet.</h1>
      <h2>Do you want to join one?</h2>
      <button onclick="domainConnect()">OF COURSE!</button><br>
      <button class="no">No thank you.</button>
    </div>
  </div>
  <script src="../scripts/mainApp.js" charset="utf-8"></script>
</body>
</html>
