<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link href="https://fonts.googleapis.com/css?family=Roboto:300,400" rel="stylesheet">
  <link rel="stylesheet" href="../fa/css/font-awesome.min.css">
  <link rel="stylesheet" href="../style/main.min.css">

  <title>Droppl</title>
</head>
<body>
  <div id="notification"><p>Processing Torrent</p></div>
  <div id="topbar"></div>
  <div id="torrents">
    <div class="torrent" v-for="torrent in doneTorrents" v-bind:style="{background: 'linear-gradient(to bottom right, hsl(' + torrent.color + ', 80%, 48%), hsl(' + torrent.color + ' , 47%, 41%))'}">
      <i class="fa fa-caret-down fa-fw tmenu" aria-hidden="true" v-on:click="toggleDropdown(torrent)"></i>
      <div class="dropdown" v-bind:style="{height: torrent.dropdown+' !important'}">
        <ul>
          <li v-if="torrent.canStream">Stream</li>
          <li v-if="!torrent.canStream" style="color: rgb(134, 134, 134)">Stream</li>
          <li v-on:click="openFile(torrent.path)">Open</li>
          <li v-if="!torrent.paused">Pause</li>
          <li v-if="torrent.paused">Resume</li>
          <li v-on:click="removeTorrent(1, torrent.magnet)">Remove</li>
        </ul>
      </div>
      <h3>{{torrent.filename}}</h3>
      <h4>{{torrent.filesize}} mb</h4>
      <p v-on:click="openFile(torrent.path)" style="text-decoration: underline; cursor: pointer">{{torrent.path}}</p>
      <div v-bind:style="{width: torrent.progress}"><p>100%</p></div>
    </div>
    <div class="torrent" v-for="torrent in torrents" v-bind:style="{background: 'linear-gradient(to bottom right, hsl(' + torrent.color + ', 80%, 48%), hsl(' + torrent.color + ' , 47%, 41%))'}">
      <i class="fa fa-caret-down fa-fw tmenu" aria-hidden="true" v-on:click="toggleDropdown(torrent)"></i>
      <div class="dropdown" v-bind:style="{height: torrent.dropdown+' !important'}">
        <ul>
          <li v-if="torrent.canStream">Stream</li>
          <li v-if="!torrent.canStream" style="color: rgb(134, 134, 134)">Stream</li>
          <li v-on:click="openFile(torrent.path)">Open</li>
          <li v-if="!torrent.paused">Pause</li>
          <li v-if="torrent.paused">Resume</li>
          <li v-on:click="removeTorrent(0, torrent.magnet)">Cancel</li>
        </ul>
      </div>
      <h3>{{torrent.filename}}</h3>
      <h4>{{torrent.received}} mb / {{torrent.filesize}} mb</h4>
      <h4>{{torrent.speed}} mb/s</h4>
      <h4>{{torrent.peers}} peers</h4>
      <div v-bind:style="{width: torrent.progress}"><p>{{torrent.progress}} ETA:{{torrent.eta}} </p></div>
    </div>
    <div class="torrent addTorrent" id="drop" ondrop="(d)=>{console.log(d)}">
      <p style="top: 0px">Paste a magnet link or drop a torrent file here.</p>
    </div>
  </div>
  <audio src="../audio/success_ohah_2.wav" style="display: hidden" id="soundPlayer"></audio>
  <script src="../scripts/mainApp.js" charset="utf-8"></script>
</body>
</html>
