body
  background: #363742
  display: flex
  justify-content: center
  align-items: center
  height: 100vh
  margin: 0
  font-family: 'Roboto', sans-serif
  flex-direction: row
  color: white !important
  overflow: hidden
#sidebar
  background: #282733
  width: 300px
  height: 100vh
#torrents
  flex: 1
  display: flex
  width: calc(100vw - 300px)
  justify-content: center
  height: 100vh
  overflow-y: scroll
  flex-wrap: wrap
  .torrent
    height: 200px
    width: 200px
    background: #1f69ce
    display: flex
    justify-content: center
    align-items: center
    flex-direction: column
    margin: 10px
    position: relative
    h3
      font-weight: 300
      font-size: 24px
      margin: 0
    h4
      font-weight: 300
      font-size: 18px
      margin: 0
    div
      position: absolute
      bottom: 0px
      background: #52a94d
      width: 200px
      text-align: center
