@keyframes fadein
  from
    opacity: 0
  to
    opacity: 1

body
  background: #363742
  display: flex
  justify-content: center
  align-items: center
  height: 100vh
  margin: 0
  font-family: 'Roboto', sans-serif
  flex-direction: row
  color: white !important
  overflow: hidden
  animation: fadein 0.5s
#notification
  background: #1f69ce
  max-width: 400px
  border-radius: 1000px
  position: fixed
  top: -100px
  opacity: 0
  text-align: center
  z-index: 2500
  padding-left: 20px
  padding-right: 20px
  box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.4)
  transition: top 0.2s, opacity 0.2s
#topbar
  background: #2a2b35
  width: 100vw
  height: 42px
  display: flex
  align-items: center
  position: absolute
  top: 0px
  i
    line-height: 42px
    font-size: 24px
    margin-right: 5px
  input
    height: 32px
    padding-left: 10px
    padding-right: 10px
    margin-left: 10px
    margin-right: 10px
  input
  	flex: 1
  	background: #1f69ce
  	border: none
  	color: white
  	border-radius: 100px
  	transition: all 0.2s
  	&:focus
  		outline: none
  	&::selection
  	  background: #525252
  ::-webkit-input-placeholder
    color: #eee
.dropdown
  width: 100px !important
  overflow: hidden
  height: 0px !important
  transition: height 0.3s
  border-radius: 3px
  position: absolute
  top: 40px
  right: 10px
  z-index: 3000
  background: #fff !important
  color: #000
  text-shadow: none !important
  &.active
    height: 116px !important
  ul
    margin: 0px
    width: 100px
    padding: 0px
    list-style: none
    li
      cursor: pointer
      padding: 5px
      transition: background 0.1s
      &:hover
        background: #eee

#torrents
  flex: 1
  margin-top: 42px
  display: flex
  height: calc(100vh - 42px)
  overflow-y: auto
  overflow-x: hidden
  flex-direction: column
  align-items: center
  .torrent
    height: 150px
    display: flex
    width: 100%
    justify-content: center
    text-align: center
    flex-direction: column
    position: relative
    text-shadow: 1px 1px 1px rgba(0,0,0,0.3)
    i
      font-size: 28px
      cursor: pointer
    .tmenu
      z-index: 4500
      position: absolute
      right: 10px
      top: 10px
    *
      position: relative
    h3
      font-weight: 300
      font-size: 24px
      margin: 0
      top: -10px
    h4
      font-weight: 300
      font-size: 18px
      margin: 0
      top: -10px
    p
      margin: 1px
      font-weight: 300
      top: -10px
    div
      position: absolute
      bottom: 0px
      background: rgba(0,0,0,0.2)
      width: 100%
      text-align: center
      p
        width: 100vw
        top: 0px
        margin: 0
        line-height: 22px
        background: rgba(0,0,0,0.1)
  .addTorrent
    border: 7px dashed rgba(255,255,255,0.15)
    color: rgba(255,255,255,0.25)
    font-size: 16px
    height: 112px
    border-radius: 20px
    width: 90%
    margin-top: 2.5%
