@keyframes fadein
  from
    opacity: 0
  to
    opacity: 1

body
  margin: 0
  display: flex
  justify-content: center
  align-items: center
  background: #000
  animation: fadein 0.5s
  height: 100vh
// FIXME: For some reason it does not want to compile when overflow is in the body above ^^^^
body
	overflow: hidden

#player
	p
		color: #fff
		line-height: 100vh
		text-align: center
video
	width: 100vw
	max-height: calc(100vh + 3px)
  animation: fadein 0.5s
i
  color: #fff
  width: 20px
  font-size: 18px !important
button
  background: transparent
  border: none
  &:focus
    outline: none
#controls
  height: 32px
  width: 100vw
  position: absolute
  bottom: 0px
  opacity: 0
  left: 0px
  background: rgba(0,0,0,0.55)
  display: flex
  align-items: center
  transition: opacity 0.2s
  #vidseek
    flex: 1
  #volumeIcon
    margin-right: 10px
    margin-left: 20px
#loader
  width: 15px
  height: 15px
  background: #42EC4A
  border-radius: 50%
  position: absolute
  top: calc(50% - 7.5px)
  left: calc(50% - 7.5px)
  box-shadow: #EC4242 -30px 0, #ECE642 -60px 0, #42E2EC 30px 0, #6A42EC 60px 0
  animation: anim 1s infinite cubic-bezier(0.57, 0, 0.43, 1)

@keyframes anim
  23%
    background: #42EC4A
  27%
    background: #C73FDF
  50%
    box-shadow: #EC4242 30px 0, #ECE642 60px 0, #42E2EC -30px 0, #6A42EC -60px 0
  73%
    background: #C73FDF
  77%
    background: #42EC4A
